/* <!-- //////////////// start Add Questions /////////////////////////////// --> */

.add_questions_container {
    width: 60%;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    padding: 20px;
    display: block;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgba(226, 205, 205, 0.16);
}

.form-group {
    padding: 5px;
    width: 83%;
    margin: auto;
}

.form-control {
    width: 100%;
    height: 6vh;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    /* border: 0 0 1px 0; */
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: large;
}

.add_questions_container h3 {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 75px;
}

.answers .form-group {
    outline: none;
    width: 87%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-right: 65px;
}

input[type='radio'] {
    transform: scale(1.5);
}

.radio_answer {
    margin: 20px 16px 0 0;
}


/* <!-- //---------------------------------------------- End add Question -----------------------------> */


/* <!-- ////////////////////////////////////////// Start Display Question /////////////////////////////////////// --> */


/* <!-- // ------------------------------------- End of Display Question ------------------------------------> */


/* <!-- ------------------------------------ Start plying quiz ----------------------------------------- --> */


/* <!-- ------------------------------------ Start plying quiz ----------------------------------------- --> */